* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}
ul li {
    background-color: white;
    padding: 30px 60px;

    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

ul li:hover {
    transform: scale(1.1);
   
}

a {
    text-decoration: none;
    color: black;
    font-weight: white;
}

.right {
    margin-right: 100px;
}

.left {
    margin-left: 100px;
}